watch_file phrases/*

statedir="${XDG_STATE_HOME:-$HOME/.local/state}/numen"

if [ -e "$statedir/paused" ]; then
  echo "Numen paused. Not reloading."
else
  echo load phrases/* | numenc
  echo "Reloaded phrases."
fi
